/* Содержимое footer */
.footer__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding-left: 10px;
    padding-right: 10px; 
    font-family: 'Open Sans',sans-serif;
    color: #999999;
    background-color: #404040;
}

/* Описание разработчика */
.footer__credit {
    margin: 5px;
    text-align: center;
}

/* Ссылки на СС */
.social__links {
    display: flex;
    justify-content: space-around;
    margin: 5px;
    padding: 0;
}

.social__link {
    list-style-type: none;
}

