.page__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page__header {
    flex: 2 0 auto;
    height: 70px;
    margin-bottom: 20px;
}

.page__content {
    flex: 1 0 auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page__footer {
    flex: 2 0 auto;
    height: 100px;
    overflow: hidden;
    margin-top: 20px;
}

@media (max-height: 1024px) {
    .page__content {
        max-height: 850px;
    }
}

@media (max-height: 850px) {
    .page__content {
        max-height: 620px;
    }
}

