.slider__wrapper {
    width: 100%;
    max-width: 1240px;
    height: 100%;
    max-height: 1000px;
    box-sizing: border-box;
}

.slider__content {
    width: 100%;
    height: 100%;
}

.slider__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.slider__photo__back {
    width: 15%;
    opacity: 1;
    padding: 10px;
}

.slider__photo__back.active {
    width: 0%;
    opacity: 0;
    transform: translateX(-150px);
    transition: all 2s ease-out 0s;
}

.slider__photo__now {
    display: flex;
    align-items: center;
    width: 50%;
    height: 90%;
    padding: 10px;
}

.slider__photo__now.active {
    width: 15%;
    transition: all 2s ease-out 0s;
}

.slider__photo__next.active {
    display: flex;
    align-items: center;
    width: 50%;
    height: 90%;
    padding: 10px;
    transition: all 2s ease-out 0s;
}

.slider__photo__next {
    width: 15%;
    padding: 10px;
    padding-right: 0px;
}

.slider__photo__unvisible {
    margin: 0;
    width: 0;
    opacity: 0;
}

.slider__photo__unvisible.active {
    width: 15%;
    opacity: 1;
    transition: all 2s ease-out 0s;
    padding: 20px;
}

.fuck {
    display: none;
}


.slider__photo img {
    display: block;
    margin: 0 auto;
    object-fit: scale-down;
    box-shadow: 5px 3px 10px black;
    max-height: 100%;
    max-width: 100%;
    border: 2px solid white;
}

.slider__arrow__next {
    cursor: pointer;
    left: -10%;
    min-width: 50px;
    min-height: 50px;
    margin-left: 20px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    z-index: 10;
    transform:rotate(43deg);
    transition: all 0.3s ease-out 0s;
}

.slider__arrow__back {
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    margin-right: 20px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    z-index: -1;
    transform:rotate(225deg);
    transition: all 0.3s ease-out 0s;
}

.slider__arrow__back:hover {
    cursor: pointer;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}

.slider__arrow__next:hover {
    cursor: pointer;
    border-left: 5px solid white;
    border-bottom: 5px solid white;
}


.slider__photos {
    height: 20%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    overflow: hidden;
}

.slider__photos__preveiw img{
    margin: 10px;
    box-shadow: 5px 3px 10px black;
    object-fit: scale-down;
    height: 100%;
    max-height: 65px;
    max-width: 100%;
    border: 0.5px solid white;
}

@media (max-width: 768px) {

    .slider__photo__now {
        width: 70%;
        height: 90%;
        opacity: 1;
    }

    .slider__photo__now.active {
        width: 0%;
        opacity: 0;
        transform: translateX(-250px);
        transition: all 2s ease-out 0s;
    }

    .slider__photo__next {
        margin: 0;
        width: 0;
        opacity: 0;
    }

    .slider__photo__next.active {
        display: flex;
        align-items: center;
        width: 70%;
        height: 90%;
        padding: 10px;
        opacity: 1;
        transition: all 2s ease-out 0s;
    }

    .slider__photo__unvisible {
        display: none;
    }

    .slider__photo__back.active {
        display: none;
    }

    .slider__photo__back {
        display: none;
    }

}